@using AdExpress.Helpers
@model AdExpress.Models.AssociationViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AssociationViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.StarDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StarDateTime)
                @Html.ValidationMessageFor(model => model.StarDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDateTime)
                @Html.ValidationMessageFor(model => model.EndDateTime)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdTitle)
                @Html.ValidationMessageFor(model => model.AdTitle)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewspaperName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewspaperName)
                @Html.ValidationMessageFor(model => model.NewspaperName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
